<script id="classList" type="text/x-handlebars-template">

</script>

<!-- New Class Modal -->
<div id="newClassModal" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>Create a new class</h4>
		<div class="row">

			<div class="input-field col m6 s12">
				<i class="material-icons prefix">edit</i>
		    	<input id="newClassName" type="text">
		        <label for="newClassName">Name</label>
		        <span class="helper-text" data-error="Name Taken" data-success="Name is available">Please choose a unique name</span>
		    </div>

		    <div class="input-field col m6 s12">
		    	<i class="material-icons prefix">description</i>
		    	<textarea class="materialize-textarea count" id="newClassDescription" data-length="120"></textarea>
		        <label for="newClassDescription">Description</label>
		         <span class="helper-text" data-error="Description is too long">Enter description under 120 characters</span>
		    </div>

			<div class="input-field col m6 s12">
				<i class="material-icons prefix">photo</i>
		        <input id="newClassPicture" type="text">
		        <label for="newClassPicture">Picture</label>
		    </div>
		    <div class="input-field col m6 s12">
		        <input id="newClassReference" type="text" class="count" data-length="80">
		        <label for="newClassReference" >Reference Token</label>
		        <span class="helper-text" data-error="Reference is too long">Enter reference under 80 characters</span>
		    </div>
		</div>
	</div>
	<div class="modal-footer">
		<a id="createNewClass" class="modal-close waves-effect waves-green btn-flat">Submit</a>
		<a class="modal-close waves-effect waves-red btn-flat red-text">Cancel</a>
	</div>
</div>

<!-- Edit class modal -->
<div id="editClassModal" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>Edit Class</h4>
		<div class="row">
			

			<div class="input-field col m6 s12">
				<i class="material-icons prefix">photo</i>
		        <input id="editClassPicture" type="text">
		        <label for="editClassPicture">Picture</label>
		        <span class="helper-text">Enter a URL for Class Picture</span>
		    </div>
		    <div class="input-field col m6 s12">
		        <input id="editClassReference" type="text" class="count" data-length="80">
		        <label for="editClassReference" >Reference Token</label>
		        <span class="helper-text" data-error="Reference is too long">Enter reference under 80 characters</span>
		    </div>

		    <div class="input-field col m6 s12">
				<i class="material-icons prefix">textsms</i>
				<input type="text" id="changeOwner" class="autocomplete">
				<label for="changeOwner">Change Owner</label>
				<span class="helper-text">Choose a new class owner</span>
			</div>

			<div class="input-field col m6 s12">
		    	<i class="material-icons prefix">description</i>
		    	<textarea class="materialize-textarea count" id="editClassDescription" data-length="120"></textarea>
		        <label for="editClassDescription">Description</label>
		         <span class="helper-text" data-error="Description is too long">Enter description under 120 characters</span>
		    </div>

			<div class="col m6 s12">
				<div class="btn-large red darken-3 white-text modal-close" id="deleteClass">Delete Class</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a id="editClassSubmit" class="modal-close waves-effect waves-green btn-flat">Submit</a>
		<a class="modal-close waves-effect waves-red btn-flat red-text">Cancel</a>
	</div>
</div>

<script id="groupDropdown" type="text/x-handlebars-template">
	{{#each data}}
		<li><a class="valign-wrapper" onclick="asm.classPage.switchClass({{classId}})"><img src="{{picture}}" class="circle" height="20px"></img> {{name}}</a></li>
	{{/each}}
	{{#if verified}}
		<li class="divider"></li>
		<li><a data-target="newClassModal" class="modal-trigger"><i class="material-icons">create_new_folder</i>Make New</a></li>
	{{/if}}
</script>

<script id="classInfoPanel" type="text/x-handlebars-template">
	<div class="col s12 m3">
		<div class="" style="padding-top: 2%; display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-around; align-items: stretch; align-content: stretch;">

			<img class="circle" src="{{picture}}" style="flex-basis: 150px;">
			<h5 class="center-align">{{name}}</h5>
			<p class="valign-wrapper center-align" style="justify-content: center;">
				Created by  
				<img class="circle" height="20px" style="margin-left: 6px;" src="{{ownerPicture}}"> 
				{{ownerUsername}}
			</p>
			<p class="center-align">{{description}}</p>
			{{#if verified}}
			<div id="editClassBtn" class="btn-large blue darken-3 white-text waves-effect waves-lighten">Edit</div>
			{{/if}}
		</div>
	</div>
</script>

<script id="classMemberList" type="text/x-handlebars-template">
	<div class="col s12 m5">
		<div class="card white">
			<div class="card-content">
				<span class="card-title">Class Members</span>
				<table class="highlight centered responsive-table" style="overflow-y: scroll;">
					<thead>
						<tr>
							{{#if verified}}
							<th>Management</th>{{/if}}
							<th>Name</th>
							<th>Points</th>
							<th>Progress</th>
						</tr>
					</thead>
					<tbody>
						{{#each members}}
						<tr>
							{{#if verified}}<td>{{#if canDelete}}<a onclick="asm.classPage.kickClassMember({{classId}}, {{userId}})" class="btn red darken-3 white-text waves-effect waves-lighten">Kick</a>{{else}}Owner{{/if}}</td>{{/if}}
							<td>{{username}}</td>
							<td>{{points}}</td>
							<td>{{classProgress}}%</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</script>

<script id="classHomework" type="text/x-handlebars-template">
	<div class="col s12 m4">
		<div class="card blue darken-3">
			<div class="card-content white-text">
				<span class="card-title">Homework</span>
				{{#if homework}}
					You have a homework, titled "{{homework}}"
					<div class="btn btn-large white blue-text center-align waves-effect waves-blue" style="margin-top: 5%; margin-left: 25%;">Answer Homework</div>
				{{else}}
					You curently have no homework<br>
				{{/if}}
			</div>
		</div>
		{{#if verified}}
		<div class="divider"></div>

		<div class="card red darken-2">
			<div class="card-content white-text">
				<span class="card-title">Create New Homework</span>
			</div>
		</div>
		{{/if}}
	</div>
</script>

<ul id="classSelect" class="dropdown-content">
</ul>

<div class="row" id="classContainer">

	<div style="position: absolute; width: 100vw; height: 100vh; top: 0; left:0; padding-top: 50vh; padding-left: 25vw; pointer-events: none;">
		<h4 class="center-align">Select a class from the top left to begin</h4>
	</div>
	
	
</div>