<script id="classList" type="text/x-handlebars-template">
	
	<div class="col s12">
		<div class="input-field col s12 m6">
			<select class="icons">
				{{#each classes}}
				<option value="{{name}}" data-icon="{{picture}}" class="left">{{name}}</option>
				{{/each}}
			</select>
			<label>Select Class</label>
		</div>
  	</div>

	<div class="col s12 m6">
		<ul class="collection">
			{{#each members}}
			<li class="collection-item avatar friend">
				<img src="{{picture}}" alt="" class="circle">
				<span class="title">{{username}} {{#if progress}}<span class="badge blue-text">{{progress}}%</span>{{/if}}</span>
				<span>
					<a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
				</span>
			</li>
			{{/each}}
		</ul>
	</div>

	<div class="col s12 m6">
		<!-- Homework List -->
	</div>

</script>

<div class="row" id="classContainer"></div>