<div class="row container">
	<h2 class="col s12">Welcome to The New Student</h2>
	<div class="col m6 s12">
		<div class="card">
			<div class="card-content">
				<span class="card-title">Login to TNS</span>

				<div class="input-field">
					<i class="material-icons prefix">account_circle</i>
			    	<input id="username" type="text">
			        <label for="username">Username</label>
			    </div>
				<div class="input-field">
					<i class="material-icons prefix">vpn_key</i>
			        <input id="password" type="password">
			        <label for="password">Password</label>
			    </div>

				<p>
					<label class="left-align" for="remember">
						<input type="checkbox" id="remember">
						<span>Remember Me</span>
					</label>

					<a href="#lostPasswordModal" class="modal-trigger right-align btn-flat blue-text text-darken-1 waves-effect waves-darken">Forgot Password</a>
				</p>

			</div>
			<div class="card-action">
				<a id="registerLink" href="#registerModal" class="blue-text text-darken-1 modal-trigger waves-effect waves-darken">Register</a>

				<a id="loginLink" class="blue-text text-darken-1 waves-effect waves-darken right-align">Login</a>
			</div>
		</div>
	</div>
	<div class="col m6 s12">
		<div class="card">
			<div class="card-content">
				<span class="card-title">What is The New Student</span>
				<p>Join The New Student today lorem ipsum</p>
			</div>
			<div class="card-tabs">
				<ul class="tabs tabs-fixed-width blue-text">
					<li class="tab"><a class="blue-text" href="#thing1">Thing 1</a></li>
					<li class="tab"><a class="active blue-text" href="#thing2">Thing 2</a></li>
					<li class="tab"><a class="blue-text" href="#thing3">Thing 3</a></li>
				</ul>
			</div>
			<div class="card-content grey lighten-4">
				<div id="thing1">Answer questions and revise subjects</div>
				<div id="thing2">Get eHomework and something</div>
				<div id="thing3">Connect with friends</div>
			</div>
		</div>	
	</div>
	
</div>

