<div class="row container">
	<h2 class="col s12">Welcome to The New Student</h2>
	<div class="col m6 s12">
		<div class="card">
			<div class="card-content">
				<span class="card-title">Login to TNS</span>

				<div class="input-field">
					<i class="material-icons prefix">account_circle</i>
			    	<input id="username" type="text">
			        <label for="username">Username</label>
			    </div>
				<div class="input-field">
					<i class="material-icons prefix">vpn_key</i>
			        <input id="password" type="password">
			        <label for="password">Password</label>
			    </div>

				<p>
					<label class="left-align" for="remember">
						<input type="checkbox" id="remember">
						<span>Remember Me</span>
					</label>

					<a href="#lostPasswordModal" class="modal-trigger right-align btn-flat blue-text text-darken-1 waves-effect waves-darken">Forgot Password</a>
				</p>

			</div>
			<div class="card-action">
				<a id="registerLink" href="#registerModal" class="blue-text text-darken-1 modal-trigger waves-effect waves-darken">Register</a>

				<a id="loginLink" class="blue-text text-darken-1 waves-effect waves-darken right-align">Login</a>
			</div>
		</div>
	</div>
	<div class="col m6 s12">
		<div class="card">
			<div class="card-content">
				<span class="card-title">What is The New Student</span>
				<p>Join The New Student today lorem ipsum</p>
			</div>
			<div class="card-tabs">
				<ul class="tabs tabs-fixed-width blue-text">
					<li class="tab"><a class="blue-text" href="#thing1">Class</a></li>
					<li class="tab"><a class="active blue-text" href="#thing2">Homework</a></li>
					<li class="tab"><a class="blue-text" href="#thing3">Chat</a></li>
				</ul>
			</div>
			<div class="card-content grey lighten-4">
				<div id="thing1">On TheNewStudent users are members of classes. These groups share homework, and a private area to chat with peers. Teachers who create the class can manage the class, and set homework for the students, as well as help students who're struggling with questions.</div>
				<div id="thing2">Homework tasks are a set of questions either chosen by subject, or randomly by the application. They will be of a variety of forms and by completing them students will gain points. Students can also create their own private question sets to practice at home.</div>
				<div id="thing3">By using the chat functionality, students can relax with their peers, while discussing their work and school. The chat is realtime and volatile also allowing file uploads and sharing, meaning messages won't be saved, but appointed moderators can remove posts which are inappropriate.</div>
			</div>
		</div>	
	</div>
	
</div>

